<extend name="Public/base"/>

<block name="style">
<style type="text/css">
.mapbreak{
	margin-bottom: 10px;
}
</style>
</block>

<block name="content">
	<div class="mapbreak"><span>房屋买卖&nbsp;&gt;&nbsp;</span> {$city.id}二手房> {$info.area}二手房 </div>
	<div class="left_hotlp">
		<div class="left_hotlp_tt">{$info.title} <span class="fortab a">随时看房</span></div>
		<div class="home_pic">
			<img class="main_pic" src="{$info.thumbnail}"/>
			<br /> <br />
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<volist id='housePic' name='info.picList'>
					<td><a href="#" class="lit_pic_link"><img class="lit_pic" src="{$housePic.path}"/></a></td>
					</volist>
				</tr>
			</table>
		</div>
		<div class="fcxq">
		售价：<span class="redtext">{$info.price}</span>万
		<br />
		单价：<em><php> echo round($info['price'] * 10000 / $info['square'], 2)</php>元/平米</em>&nbsp;&nbsp;&nbsp;&nbsp;首付：<em>{$info.down_payment}万</em>&nbsp;&nbsp;&nbsp;&nbsp;月供：<em>{$info.monthly}元</em>
		<br />
        房型：<em>{$info.bed_room}室{$info.live_room}厅</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建筑面积：<em>{$info.square}平米</em>
        <br />
        朝向：<em>{$info.face|get_lookup_value='HOUSE_FACE_TYPE', ###}</em>
        <br />
        楼层：<em>{$info.floor}层({$info.floor_max}层)</em>
        <br />
        <div class="tel_bp">{$info.contact_tel}</div>
        年代：<em>{$info.build_year}年</em> &nbsp;&nbsp;&nbsp;&nbsp;结构：<em>{$info.structure|get_lookup_value='HOUSE_STRUCTURE_TYPE',###}</em>
        <br /> 
        装修：<em>{$info.decorate|get_lookup_value='HOUSE_DECORATE_TYPE',###}</em>   &nbsp;&nbsp;&nbsp;&nbsp;  住宅类别：<em>{$info.build_type|get_lookup_value='HOUSE_BUILD_TYPE',###}</em><br />  
        产权性质：<em>{$info.property_type|get_lookup_value='HOUSE_PROPERTY_TYPE',###}</em>     &nbsp;&nbsp;&nbsp;&nbsp;看房时间：<em>随时看房</em><br />
         楼盘名称：<a href="#">南山豪庭</a>
    </div>
    <div class="clear"></div>
    <div class="index_left_tt">房源描述</div>
    {$info.desc_txt}
     <div class="index_left_tt">地理位置</div>
    //TODO:地图
    <div class="left_hotlp_tt">附近推荐</div>
      <ul class="hotlp_box">
   	    <li><div class="hotlp_box_line">
            <a href="#"><img  /></a>
            <a href="#" class="hotlp_lpname">城市印象在售</a>
            <div class="clear"></div>
            均价：14000元/平米<br />
            电话：400-606-6969 转 27829<br />
            地址：甘井子区迎客路中段(机场附近)<br />
   	    </div>
            </li>
            
             <li><div class="hotlp_box_line">
            <a href="#"><img  /></a>
            <a href="#" class="hotlp_lpname">城市印象在售</a>
            <div class="clear"></div>
            均价：14000元/平米<br />
            电话：400-606-6969 转 27829<br />
            地址：甘井子区迎客路中段(机场附近)<br />
             </div></li>
             <li><div class="hotlp_box_line">
            <a href="#"><img  /></a>
            <a href="#" class="hotlp_lpname">城市印象在售</a>
            <div class="clear"></div>
            均价：14000元/平米<br />
            电话：400-606-6969 转 27829<br />
            地址：甘井子区迎客路中段(机场附近)<br />
            <a href="#"></a></div> </li>
          <div class="clear"></div>
        </ul>
    </div>
    
    <!--left end-->
    <!--rigth start-->
    <div class="right_hotlp">
   
    	<div class="guanzhu">
        
        </div>
   	  <br /><BR />
    
    <img class="dianyuan" />
    <div class="dianyuan_name">经纪人：{$info.contact}<br />{$info.contact_tel}</div>
    </div>
    <!--rigth end-->
    
    <div class="clear"></div>
</block>