<extend name="Public/base"/>

<block name="content">
    <div class="left_hotlp">
        <div class="daili_pic">
            <img width="348" height="268" src="__ROOT__{$info.thumbnail}" />
            <div class="google" id="baidumap_forpick"></div>
        </div>
        <div class="fcxq">
            <div class="daili_del_tt">{$info.title}<span>{:W('Tag/showTag', array($info['feature']))}</span></div>
            <em>价格：</em> 均价{$info.price_avg}元/平米 <br />
            <em>价格详情：</em>均价{$info.price_avg}元/平米,公建均价{$info.price_avg2}元/平米<br />
            <em>恒润特惠：</em> {$info.pref_txt}
            <em>购房费用：</em> 首付 {$info.down_payment}-{$info.down_payment_max}万  月供 {$info.monthly}-{$info.monthly_max}元 
            <div class="tel_bp">{$info.contact_tel}</div>
            <em>楼盘位置：</em>{$info.area}{$info.busi_area}({$info.loc_txt}) 楼盘地图<br />
            <em>交通状况：</em>{$info.traffic}[ + 展开 ]<br />
            <em>物业类型：</em>{$info.property_type|get_lookup_value='HOUSE_PROPERTY_TYPE',###}建筑类别：{$info.property_type|get_lookup_value='HOUSE_PROPERTY_TYPE',###}<br />
            <em>开盘时间：</em> {$info.open_time|time_format}&nbsp;&nbsp;&nbsp;&nbsp;  <em> 入住时间：</em> {$info.in_time|time_format}<br />
            <em>装修情况：</em> {$info.decorate|get_lookup_value='HOUSE_DECORATE_TYPE',###}<br />
            <em>产　　权：</em> {$info.decorate|get_lookup_value='HOUSE_PROPERTY_TYPE',###}<br />
            <em>物 业 费：</em> {$info.property_price}元/月/平米<br />
            <em>户型面积：</em> {$info.room_square_txt} 户型图<br />
            <em>户　　数：</em> 总共 {$info.room_count} 户<br />
            <em>预 售 证：</em> {$info.paper_ys}<br />
            <em>开 发 商：</em> {$info.dev}

        </div>
        <div class="clear"></div>
    </div>

    <div class="right_hotlp">
        <div class="guanzhu">
        </div>
        <img class="dianyuan" />
        <div class="dianyuan_name">经纪人：张艳<br />13998071773</div>
    </div>

    <div class="clear"></div>

    <div class="daili_del_btbox">
        <div class="daili_del_btbox_tt">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
            <td width="93%">户型面积<span>{$info.title}户型图</span></td>
            <td width="7%"><a href="#">更多&gt;&gt;</a></td>
            </tr>
            </table>
        </div>
        <volist name="info.hxPicList" id="hxPic">
        <a href="#" class="hxt">
            <img src="__ROOT__{$hxPic.path}"/>
            <span>{$hxPic.desc_txt}</span>
        </a>
        </volist>
        <div class="clear"></div>
    </div>
	
</block>

<block name="footscript">
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5d659c6eae4dd6ee412466047f735196"></script>
<script type="text/javascript">
var lng = {$info.longitude};
var lat = {$info.latitude};
if(lng == 0 || lat == 0){
    return ;
}
var map = new BMap.Map("baidumap_forpick");

var marker = new BMap.Marker(new BMap.Point(lng, lat));
map.centerAndZoom(marker.getPosition(),15);
map.enableScrollWheelZoom();
map.addOverlay(marker);

</script>
</block>