<extend name="Public/base"/>

<block name="headscript">
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
$(function(){
	$(document).ajaxStart(function(){
		$('')
	})
});
</script>
</block>

<block name="content">
<div class="login_box">
	<div class="login_body">
		<div class="login_tt">用户登录</div>
		<br /><br />
		<form action="__SELF__" method="post">
		<table width="80%" border="0" cellspacing="0" cellpadding="0" style="margin-left:auto; margin-right:auto">
			<tr>
				<td width="25%" align="left">用户名：</td>
				<td width="75%" align="left">
					<input type="text" class="input_text" id="inputEmail"/>
				</td>
			</tr>
			<tr>
				<td align="left">&nbsp;</td>
				<td align="left">&nbsp;</td>
			</tr>
			<tr>
				<td align="left">密码：</td>
				<td align="left">
					<input type="password" class="input_text" id="inputPassword"/>
				</td>
			</tr>
			<tr>
				<td align="left">&nbsp;</td>
				<td align="left">&nbsp;</td>
			</tr>
			<tr>
				<td align="left">&nbsp;</td>
				<td align="left"><input type="checkbox" name="remember" style="cursor:pointer">下次自动登录</td>
			</tr>
			<tr>
				<td align="left">&nbsp;</td>
				<td align="right"><a href="javascript:;" class="login_btn">登 陆</a></td>
			</tr>
		</table>
		</form>
		<div class="tosg">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td>你还没有成为恒润的用户吗？</td>
					<td><a href="#" class="tosg_btn"></a></td>
				</tr>
			</table>
		</div>
	</div>
</div>
</block>