<extend name="Public/base"/>

<block name="style">
<link type="text/css" rel="stylesheet" href="__STATIC__/qtip/jquery.qtip.css"/>
<link type="text/css" rel="stylesheet" href="__STATIC__/oneplus/js/ext/toastr/toastr.min.css"/>
<style type="text/css">
.log-in{
    background: url(__IMG__/login_btn_disabled.png);
}
</style>
</block>

<block name="headscript">
<script type="text/javascript" src="__STATIC__/qtip/jquery.qtip.js"></script>
<script type="text/javascript" src="__STATIC__/oneplus/js/ext/toastr/toastr.min.js"></script>

<script type="text/javascript">
$(function(){
    $(document).ajaxStart(function(){
        $("button#login_submit").text('正在注册').addClass("log-in").attr("disabled", true);
    }).ajaxStop(function(){
        $("button#login_submit").text('注 册').removeClass("log-in").attr("disabled", false);
    });
    $("form").submit(function () {
        var username = $('#username').val();
        var password = $('#password').val();
        if(username == '' || password == ''){
            op_error('请填写用户名和密码', '提示');
            return false;
        }
        var self = $(this);
        $.post(self.attr("action"), self.serialize(), success, "json");
            return false;
        function success(data) {
            if (data.status) {
                op_success('欢迎回来，正在跳转登录前页面。', '温馨提示');
                setTimeout(function () {
                    window.location.href = "{$returnUrl}";
                }, 1500);
            } else {
                op_error(data.info, '温馨提示');
                //self.find(".Validform_checktip").text(data.info);
                //刷新验证码
                $(".reloadverify").click();
            }
        }
    });
});
</script>
</block>

<block name="content">
<div class="login_box">
    <div class="login_body">
        <div class="login_tt">用户注册</div>
            <br /><br />
            <form action="__SELF__">
            <table width="85%" border="0" cellspacing="0" cellpadding="0" style="margin-left:auto; margin-right:auto">
                <tr>
                    <td width="25%" align="left">用户名：</td>
                    <td width="75%" align="left"><input type="text" class="input_text" name="username" /></td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left">&nbsp;</td>
                </tr>
                <tr>
                    <td align="left">密码：</td>
                    <td align="left"><input type="password" class="input_text" name="password"/></td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left">&nbsp;</td>
                </tr>
                <tr>
                    <td align="left">确认密码：</td>
                    <td align="left"><input type="password" class="input_text" name="repassword"/></td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left">&nbsp;</td>
                </tr>
                <tr>
                    <td align="left">邮箱：</td>
                    <td align="left"><input type="text" class="input_text" name="email"/></td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left">&nbsp;</td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td align="right"><button id="login_submit" type="submit" class="login_btn" style="border:none;cursor:pointer">注 册</button></td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</block>
