<extend name="Public/base" />

<block name="style">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
</block>

<block name="headscript">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript" src="__STATIC__/jquery.chained.min.js"></script>
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.mymin.js"></script>
<script type="text/javascript" src="__STATIC__/scripts/imageexplorer.js"></script>
<script type="text/javascript">
$(function(){
	$("#busi_area").chained("#area");

	var imgExplorer = new ImageExplorer({container: '#img_box', picsHolder: '#house_pic', column: 8});

	$("#house_pic_file").uploadify({
		'height': 34,
		'swf': '__STATIC__/uploadify/uploadify.swf',
		'uploader': "{:U('File/uploadHousePics')}",
		'fileObjName': 'fileUpload',
		'buttonClass': 'btn btn-primary',
		'multi': true,
		'queueID': 'queue_container',
		'uploadLimit': 8,
		//'queueSizeLimit': 5,
		'fileSizeLimit': '2MB',
		'buttonText': '上传图片',
		'fileTypeExts': '*.jpg; *.png; *.gif; *.bmp',
		'fileTypeDesc': 'JPG,PNG,GIF,BMP',
		'removeTimeout': 1,
		'formData': {'PHPSESSID': '<?php echo session_id();?>'},
		'onUploadSuccess': function(file, data, response){
			var info = $.parseJSON(data);
			if(info.status == 1){
				imgExplorer.addItem(info);
			}else{
				alert(info.info);
			}
		},
		'onUploadError': function(file, errorCode, errorMsg, errorString){
			//alert(file.name + " 上传失败 " + errorCode + " " + errorMsg + " " + errorString);
		},
		'onFallback': function(){
			alert('请先安装Flash插件');
		}
	});

	$('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();
    $('.tab-nav.nav li.current').click();
});
</script>
</block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Article:sidemenu" />
</block>

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title cf">
		<h2>
			{$meta_title}
		</h2>
	</div>
	<!-- 标签页导航 -->
<div class="tab-wrap">
	<ul class="tab-nav nav">
		<li data-tab="tab1" class="current"><a href="javascript:void(0);">基础</a></li>
		<li data-tab="tab2"><a href="javascript:void(0);">扩展</a></li>
	</ul>
	<div class="tab-content">
	<!-- 表单 -->
	<form id="form" action="{:U('update')}" method="post" class="form-horizontal">
		<notempty name="info.id">
		<input type="hidden" name="id" value="{$info.id}"/>
		</notempty>
		<input type="hidden" name="pid" value="{$info.pid|default=''}"/>
		<input type="hidden" name="model_id" value="{$info.model_id|default=''}"/>
		<input type="hidden" name="category_id" value="{$info.category_id|default=''}">
		<input type="hidden" name="name" value="{$info.name|default=''}"/>
		<input type="hidden" name="type" value="{$info.type|default=3}"/>
		<input type="hidden" name="cover_id" value="{$info.cover_id|default=0}"/>
		<input type="hidden" name="comment" value="{$info.comment|default=0}"/>
		<input type="hidden" name="bookmark" value="{$info.bookmark|default=0}"/>
		<input type="hidden" name="link_id" value="{$info.link_id|default=0}"/>
		<input type="hidden" name="display" value="1"/>
		<input type="hidden" name="create_time" value="{$info.create_time|time_format}"/>
		<input type="hidden" name="city" value="{$city}"/>
		<!-- 基础文档模型 -->
		<div id="tab1" class="tab-pane in tab1">
			<div class="form-item cf">
				<label class="item-label">标题</label>
				<div class="controls">
					<input type="text" class="text input-large" name="title" value="{$info.title}">
				</div>
			</div>

			<div class="form-item cf">
				<label class="item-label">区域</label>
				<div class="controls">
					{:W('Home/District/showSelect', array($city, $info['area'], $info['busi_area']))}
				</div>
			</div>

			<div class="form-item cf">
				<label for="community" class="item-label">小区</label>
				<div class="controls">
					<input type="text" id="community" name="community" class="text" value="{$info.community}"/>
				</div>
			</div>

			<div class="form-item cf">
				<label for="community" class="item-label">户型</label>
				<div class="controls">
					<input type="text" name="bed_room" value="{$info.bed_room|default=''}" class="text"/>室
					<input type="text" name="live_room" value="{$info.live_room|default=''}" class="text"/>厅
					<input type="text" name="toilet" value="{$info.toilet|default=''}" class="text"/>卫
				</div>
			</div>

			<div class="form-item cf">
				<label for="community" class="item-label">楼层</label>
				<div class="controls">
					第<input type="text" name="floor" value="{$info.floor}" class="text"/>层
					共<input type="text" name="floor_max" value="{$info.floor_max}" class="text"/>层
				</div>
			</div>

			<div class="form-item cf">
				<label class="item-label">建筑类型</label>
				<div class="controls">
					{:W('Home/Lookup/showSelect', array('build_type', $info['build_type'], 'HOUSE_BUILD_TYPE', false, array('id'=>'build_type')))}
					{:W('Home/Lookup/showSelect', array('structure', $info['structure'], 'HOUSE_STRUCTURE_TYPE', array('name'=>'0', 'val'=>'建筑结构'), array('id'=>'structure')))}
					{:W('Home/Lookup/showSelect', array('decorate', $info['decorate'], 'HOUSE_DECORATE_TYPE', array('name'=>'0', 'val'=>'装修'), array('id'=>'decorate')))}
					{:W('Home/Lookup/showSelect', array('face', $info['face'], 'HOUSE_FACE_TYPE', array('name'=>'0', 'val'=>'朝向'), array('id'=>'face')))}
				</div>
			</div>

			<div class="form-item cf">
				<label class="item-label">价格</label>
				<div class="controls">
					<input type="text" name="price" value="{$info.price}" class="text"/>万元
					<input type="checkbox" name="loan_enable" value="N" <if condition="info.loan_enable eq 'N'"> checked</if>/>不可贷款
				</div>
			</div>

			<div class="form-item cf">
				<label for="down_payment">首付</label>
				<input type="text" name="down_payment" value="{$info.down_payment|default=''}" class="text"/>万元
				<label for="monthly">月供</label>
				<input type="text" name="monthly" value="{$info.monthly|default=''}" class="text"/>元
			</div>

			<div class="form-item cf">
				<label class="item-label">面积</label>
				<div class="controls">
					建筑面积<input type="text" name="square" value="{$info.square}" class="text"/>m<sup>2</sup>
					套内面积<input type="text" name="inner_square" value="{$info.inner_square}" class="text"/>m<sup>2</sup>
				</div>
			</div>

			<div class="form-item cf">
				<label for="property_right">产权</label>
				{:W('Home/Lookup/showSelect', array('property_right', $info['property_right'], 'HOUSE_PROPERTY_RIGHT', false, array('id'=>'property_right')))}
				<label for="property_type">产权类型</label>
				{:W('Home/Lookup/showSelect', array('property_type', $info['property_type'], 'HOUSE_PROPERTY_TYPE', false, array('id'=>'property_type')))}
			</div>

			<div class="form-item cf">
				<label for="property_right" class="item-label">建筑年代</label>
				<div class="controls">
					<input type="text" name="build_year" value="{$info.build_year}" class="text"/>
				</div>
			</div>

			<div class="form-item cf">
				<label for="property_right" class="item-label">配套设施</label>
				<div class="controls">
					{:W('Home/Tag/showInput', array('add_on', $info['add_on'], 4))}
				</div>
			</div>

			<div class="form-item cf">
				<label for="property_right" class="item-label">特色</label>
				<div class="controls">
					{:W('Home/Tag/showInput', array('feature', $info['feature'], 4))}
				</div>
			</div>

			<div class="form-item cf">
				<label for="property_right">房源描述</label>
				<div class="controls">
					<textarea id="desc_txt" name="desc_txt">{$info.desc_txt|default=''}</textarea>
					{:hook('documentEditFormContent',array('id'=>'desc_txt', name=>'desc_txt','value'=>htmlspecialchars($info['desc_txt'])))}
				</div>
			</div>

			<div class="form-item cf">
				<div class="controls">
					<input type="file" id="house_pic_file"/>
				</div>
			</div>

			<div class="form-item cf">
				<div class="controls">
					<div id="house_pic_upload">
						<input type="hidden" id="house_pic" name="house_pic" value='{$info.house_pic|default="[]"}'/>
						<div id="img_box"></div>
						<div id="queue_container"></div>
						<div style="clear:both"></div>
					</div>
				</div>
			</div>

			<div class="form-item cf">
				<label for="contact_type" class="item-label">身份</label>
				<div class="controls">
					{:W('Home/Lookup/showSelect', array('contact_type', $info['contact_type'], 'HOUSE_CONTACT_TYPE', false, array('id'=>'contact_type')))}
				</div>
			</div>

			<div class="form-item cf">
				<label for="contact" class="item-label">联系人</label>
				<div class="controls">
					<input type="text" id="contact" name="contact" value="{$info.contact|default=''}" class="text"/>
				</div>
			</div>

			<div class="form-item cf">
				<label for="contact_tel" class="item-label">联系电话</label>
				<div class="controls">
					<input type="text" id="contact_tel" name="contact_tel" value="{$info.contact_tel|default=''}" class="text"/>
				</div>
			</div>

		</div>

		<div id="tab2" class="tab-pane in tab2">

			<div class="form-item cf">
				<label class="item-label">备注</label>
				<div class="controls">
					<label class="textarea input-large">
					<textarea name="description">{$info.description}</textarea>
					</label>
				</div>
			</div>

			<div class="form-item cf">
				<label class="item-label">优先级<span class="check-tips">（越高排序越靠前）</span></label>
				<div class="controls">
					<input type="text" class="text input-medium" name="level" value="0">
				</div>
			</div>

			<div class="form-item cf">
				<label class="item-label">推荐位<span class="check-tips">（多个推荐则将其推荐值相加）</span></label>
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" value="1" name="position[]" <?php if(($info['position'] & 1) == 1):?>checked<?php endif;?>/>列表推荐
					</label>
					<label class="checkbox">
						<input type="checkbox" value="2" name="position[]" <?php if(($info['position'] & 2) == 2):?>checked<?php endif;?>/>频道页推荐
					</label>
					<label class="checkbox">
						<input type="checkbox" value="4" name="position[]" <?php if(($info['position'] & 4) == 4):?>checked<?php endif;?>/>首页推荐
					</label>
				</div>
			</div>

			<div class="form-item cf">
				<label class="item-label">浏览量</label>
				<div class="controls">
					<input type="text" class="text input-medium" name="view" value="{$info.view|default=0}">
				</div>
			</div>

			<div class="form-item cf">
				<label class="item-label">截至时间<span class="check-tips">（0-永久有效）</span></label>
				<div class="controls">
					<input type="text" name="deadline" class="text input-large time" value="{$info.deadline|time_format}" placeholder="请选择时间" />
				</div>
			</div>
		</div>

		<div class="form-item cf">
			<button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<a class="btn btn-return" href="{:U('HouseSale/index?cate_id='.$cate_id)}">返 回</a>
			<if condition="C('OPEN_DRAFTBOX') and (ACTION_NAME eq 'add' or $info['status'] eq 3)">
			<button class="btn save-btn" url="{:U('HouseSale/autoSave')}" target-form="form-horizontal" id="autoSave">
				存草稿
			</button>
			</if>
			
		</div>
	</form>
	</div>
</div>
</block>